---
import DefaultLayout from '../../../layouts/DefaultLayout.astro'
import { Media, Breadcrumbs, BreadcrumbsItem, Notification } from 'accessible-astro-components'
import { beginnerScope } from '../../../assets/data/begScope.js'

import Feature from '../../../components/Feature.astro'


const weekData = beginnerScope[8] // Change to correct week (zero-indexed)

// VOCAB
const { voc1 = `/class-images/beginner/week${weekData.week}-vocab-ex1.webp` } = Astro.props
const { voc2 = `/class-images/beginner/week${weekData.week}-vocab-ex2.webp` } = Astro.props
const { voc3 = `/class-images/beginner/week${weekData.week}-vocab-ex3.webp` } = Astro.props
const { voc4 = `/class-images/beginner/week${weekData.week}-vocab-ex4.webp` } = Astro.props
const { voc5 = `/class-images/beginner/week${weekData.week}-vocab-ex5.webp` } = Astro.props
const { voc6 = `/class-images/beginner/week${weekData.week}-vocab-ex6.webp` } = Astro.props
const { voc7 = `/class-images/beginner/week${weekData.week}-vocab-ex7.webp` } = Astro.props
const { voc8 = `/class-images/beginner/week${weekData.week}-vocab-ex8.webp` } = Astro.props
const { voc9 = `/class-images/beginner/week${weekData.week}-vocab-ex9.webp` } = Astro.props
const { voc10 = `/class-images/beginner/week${weekData.week}-vocab-ex10.webp` } = Astro.props

// LISTENING
const { lis1 = `/class-audio/beginner/week${weekData.week}-lis1.mp3` } = Astro.props
const { lis2 = `/class-audio/beginner/week${weekData.week}-lis2.mp3` } = Astro.props
const { lis3 = `/class-audio/beginner/week${weekData.week}-lis3.mp3` } = Astro.props
const { lis4 = `/class-audio/beginner/week${weekData.week}-lis4.mp3` } = Astro.props

---

<DefaultLayout title={`Beginner Week ${weekData.week}`}>
  <section class="container">
    <div class="mb-10">
      <Breadcrumbs>
        <BreadcrumbsItem href="/" label="Home" />
        <BreadcrumbsItem href="/beginner" label="Beginner" />
        <BreadcrumbsItem currentPage={true} label={`Week ${weekData.week}`} />
      </Breadcrumbs>
    </div>
    <div class="space-content container">
      <h1>Week {weekData.week}: {weekData.topic}</h1>
      <div>
        <ul>
          <li><b>Grammar:</b> {weekData.grammar.join(', ')}</li>
          <li><b>Vocabulary:</b> {weekData.vocabulary.join(', ')}</li>
        </ul>
      </div>
    </div>
  </section>

  <!-- CLASS CONTENT -->
  <section class="mb-12 mt-32">
    <div class="container">
      <div class="grid grid-cols-1 gap-32 md:grid-cols-2">
        <div class="space-content">
          <h2>Vocabulary Activities</h2>
          <h3>Question 1</h3>
          <article>
            <Media class="rounded-lg" src={voc1} alt="Exercise 1 image" />
            <div class="info-container mt-4" style="display: block;">
              <Notification type="info">
                <p>This is a ...</p>
              </Notification>
            </div>
            <div class="notification-container mt-4" style="display: none;">
              <Notification type="success">
                <p><strong>Correct!</strong> Well done! 🎉</p>
              </Notification>
              <Notification type="error">
                <p><strong>Oops!</strong> This is a ...</p>
              </Notification>
            </div>
            <div class="exercise mt-4" data-correct="boat">
              <button class="button mr-2">boat</button>
              <button class="button mr-2 mt-2">boot</button>
              <button class="button mr-2 mt-2">ship</button>
            </div>
          </article>

          <article>
            <Media class="rounded-lg" src={voc2} alt="Exercise 1 image" />
            <div class="info-container mt-4" style="display: block;">
              <Notification type="info">
                <p>This is a ...</p>
              </Notification>
            </div>
            <div class="notification-container mt-4" style="display: none;">
              <Notification type="success">
                <p><strong>Correct!</strong> Well done! 🎉</p>
              </Notification>
              <Notification type="error">
                <p><strong>Oops!</strong> This is a ...</p>
              </Notification>
            </div>
            <div class="exercise mt-4" data-correct="boot">
              <button class="button mr-2">boat</button>
              <button class="button mr-2 mt-2">boot</button>
              <button class="button mr-2 mt-2">ship</button>
            </div>
          </article>

          <article>
            <Media class="rounded-lg" src={voc3} alt="Exercise 1 image" />
            <div class="info-container mt-4" style="display: block;">
              <Notification type="info">
                <p>These are ...</p>
              </Notification>
            </div>
            <div class="notification-container mt-4" style="display: none;">
              <Notification type="success">
                <p><strong>Correct!</strong> Well done! 🎉</p>
              </Notification>
              <Notification type="error">
                <p><strong>Oops!</strong> These are ...</p>
              </Notification>
            </div>
            <div class="exercise mt-4" data-correct="hats">
              <button class="button mr-2">caps</button>
              <button class="button mr-2 mt-2">hats</button>
              <button class="button mr-2 mt-2">hots</button>
            </div>
          </article>

          <article>
            <Media class="rounded-lg" src={voc4} alt="Exercise 1 image" />
            <div class="info-container mt-4" style="display: block;">
              <Notification type="info">
                <p>This is a ...</p>
              </Notification>
            </div>
            <div class="notification-container mt-4" style="display: none;">
              <Notification type="success">
                <p><strong>Correct!</strong> Well done! 🎉</p>
              </Notification>
              <Notification type="error">
                <p><strong>Oops!</strong> This is a ...</p>
              </Notification>
            </div>
            <div class="exercise mt-4" data-correct="suitcase">
              <button class="button mr-2">luggage</button>
              <button class="button mr-2 mt-2">boat</button>
              <button class="button mr-2 mt-2">suitcase</button>
            </div>
          </article>

          <article>
            <Media class="rounded-lg" src={voc5} alt="Exercise 1 image" />
            <div class="info-container mt-4" style="display: block;">
              <Notification type="info">
                <p>This is a ...</p>
              </Notification>
            </div>
            <div class="notification-container mt-4" style="display: none;">
              <Notification type="success">
                <p><strong>Correct!</strong> Well done! 🎉</p>
              </Notification>
              <Notification type="error">
                <p><strong>Oops!</strong> This is a ...</p>
              </Notification>
            </div>
            <div class="exercise mt-4" data-correct="bed">
              <button class="button mr-2">luggage</button>
              <button class="button mr-2 mt-2">bed</button>
              <button class="button mr-2 mt-2">boat</button>
            </div>
          </article>

          <article>
            <Media class="rounded-lg" src={voc6} alt="Exercise 1 image" />
            <div class="info-container mt-4" style="display: block;">
              <Notification type="info">
                <p>This is a ...</p>
              </Notification>
            </div>
            <div class="notification-container mt-4" style="display: none;">
              <Notification type="success">
                <p><strong>Correct!</strong> Well done! 🎉</p>
              </Notification>
              <Notification type="error">
                <p><strong>Oops!</strong> This is a ...</p>
              </Notification>
            </div>
            <div class="exercise mt-4" data-correct="sofa">
              <button class="button mr-2">sofa</button>
              <button class="button mr-2 mt-2">bed</button>
              <button class="button mr-2 mt-2">boat</button>
            </div>
          </article>

          <article>
            <Media class="rounded-lg" src={voc7} alt="Exercise 1 image" />
            <div class="info-container mt-4" style="display: block;">
              <Notification type="info">
                <p>This is a ...</p>
              </Notification>
            </div>
            <div class="notification-container mt-4" style="display: none;">
              <Notification type="success">
                <p><strong>Correct!</strong> Well done! 🎉</p>
              </Notification>
              <Notification type="error">
                <p><strong>Oops!</strong> This is a ...</p>
              </Notification>
            </div>
            <div class="exercise mt-4" data-correct="road">
              <button class="button mr-2">boat</button>
              <button class="button mr-2 mt-2">broad</button>
              <button class="button mr-2 mt-2">road</button>
            </div>
          </article>

          <article>
            <Media class="rounded-lg" src={voc8} alt="Exercise 1 image" />
            <div class="info-container mt-4" style="display: block;">
              <Notification type="info">
                <p>This is a ...</p>
              </Notification>
            </div>
            <div class="notification-container mt-4" style="display: none;">
              <Notification type="success">
                <p><strong>Correct!</strong> Well done! 🎉</p>
              </Notification>
              <Notification type="error">
                <p><strong>Oops!</strong> This is a ...</p>
              </Notification>
            </div>
            <div class="exercise mt-4" data-correct="chair">
              <button class="button mr-2">boat</button>
              <button class="button mr-2 mt-2">road</button>
              <button class="button mr-2 mt-2">chair</button>
            </div>
          </article>

          <article>
            <Media class="rounded-lg" src={voc9} alt="Exercise 1 image" />
            <div class="info-container mt-4" style="display: block;">
              <Notification type="info">
                <p>This is a ...</p>
              </Notification>
            </div>
            <div class="notification-container mt-4" style="display: none;">
              <Notification type="success">
                <p><strong>Correct!</strong> Well done! 🎉</p>
              </Notification>
              <Notification type="error">
                <p><strong>Oops!</strong> This is a ...</p>
              </Notification>
            </div>
            <div class="exercise mt-4" data-correct="room">
              <button class="button mr-2">room</button>
              <button class="button mr-2 mt-2">road</button>
              <button class="button mr-2 mt-2">broom</button>
            </div>
          </article>

          <article>
            <Media class="rounded-lg" src={voc10} alt="Exercise 1 image" />
            <div class="info-container mt-4" style="display: block;">
              <Notification type="info">
                <p>This is a ...</p>
              </Notification>
            </div>
            <div class="notification-container mt-4" style="display: none;">
              <Notification type="success">
                <p><strong>Correct!</strong> Well done! 🎉</p>
              </Notification>
              <Notification type="error">
                <p><strong>Oops!</strong> This is a ...</p>
              </Notification>
            </div>
            <div class="exercise mt-4" data-correct="table">
              <button class="button mr-2">fridge</button>
              <button class="button mr-2 mt-2">table</button>
              <button class="button mr-2 mt-2">desk</button>
            </div>
          </article>

        </div>
        <div class="space-content">
          <h2>Speaking Activities</h2>
             <Feature icon="ion:chatbubble-ellipses" title="Let's talk!" url=`/beginner/week${weekData.week}/speaking`>
              <span class="italic">Ask you classmates!</span>
            </Feature>
        </div>
        <div class="space-content">
          <h2>Listening Activities</h2>
          <h3>Travel</h3>
          <figure>
            <audio controls src={lis1} type="audio/mpeg">Your browser doesn't support this audio format.</audio>
            <a href={lis1}> Download audio </a>
          </figure>
          <article>
            <div class="info-container mt-4" style="display: block;">
              <Notification type="info">
                <p>How does he travel?</p>
              </Notification>
            </div>
            <div class="notification-container mt-4" style="display: none;">
              <Notification type="success">
                <p><strong>Correct!</strong> by train 🎉</p>
              </Notification>
              <Notification type="error">
                <p><strong>Oops!</strong> How does he travel?</p>
              </Notification>
            </div>
            <div class="exercise mt-4" data-correct="by train">
              <button class="button mr-2">by bus</button>
              <button class="button mr-2 mt-2">by boat</button>
              <button class="button mr-2 mt-2">by train</button>
              <button class="button mr-2 mt-2">by plane</button>
            </div>
          </article>

          <figure>
            <audio controls src={lis2} type="audio/mpeg">Your browser doesn't support this audio format.</audio>
            <a href={lis1}> Download audio </a>
          </figure>
          <article>
            <div class="info-container mt-4" style="display: block;">
              <Notification type="info">
                <p>How does she travel?</p>
              </Notification>
            </div>
            <div class="notification-container mt-4" style="display: none;">
              <Notification type="success">
                <p><strong>Correct!</strong> by train 🎉</p>
              </Notification>
              <Notification type="error">
                <p><strong>Oops!</strong> How does she travel?</p>
              </Notification>
            </div>
            <div class="exercise mt-4" data-correct="by bus">
              <button class="button mr-2">by bus</button>
              <button class="button mr-2 mt-2">by boat</button>
              <button class="button mr-2 mt-2">by train</button>
              <button class="button mr-2 mt-2">by plane</button>
            </div>
          </article>

          <figure>
            <audio controls src={lis3} type="audio/mpeg">Your browser doesn't support this audio format.</audio>
            <a href={lis1}> Download audio </a>
          </figure>
          <article>
            <div class="info-container mt-4" style="display: block;">
              <Notification type="info">
                <p>How does he travel?</p>
              </Notification>
            </div>
            <div class="notification-container mt-4" style="display: none;">
              <Notification type="success">
                <p><strong>Correct!</strong> He doesn't travel.  🎉</p>
              </Notification>
              <Notification type="error">
                <p><strong>Oops!</strong> How does he travel?</p>
              </Notification>
            </div>
            <div class="exercise mt-4" data-correct="He doesn't travel.">
              <button class="button mr-2">He doesn't travel.</button>
              <button class="button mr-2 mt-2">by boat</button>
              <button class="button mr-2 mt-2">by train</button>
              <button class="button mr-2 mt-2">by plane</button>
            </div>
          </article>

          <figure>
            <audio controls src={lis4} type="audio/mpeg">Your browser doesn't support this audio format.</audio>
            <a href={lis1}> Download audio </a>
          </figure>
          <article>
            <div class="info-container mt-4" style="display: block;">
              <Notification type="info">
                <p>How does she travel?</p>
              </Notification>
            </div>
            <div class="notification-container mt-4" style="display: none;">
              <Notification type="success">
                <p><strong>Correct!</strong> by train 🎉</p>
              </Notification>
              <Notification type="error">
                <p><strong>Oops!</strong> How does she travel?</p>
              </Notification>
            </div>
            <div class="exercise mt-4" data-correct="by boat">
              <button class="button mr-2">by bus</button>
              <button class="button mr-2 mt-2">by boat</button>
              <button class="button mr-2 mt-2">by train</button>
              <button class="button mr-2 mt-2">by plane</button>
            </div>
          </article>

        </div>
      </div>
    </div>
  </section>
</DefaultLayout>

<style>
  @media (max-width: 640px) {
    .exercise {
      display: flex;
      flex-direction: column;
    }

    .exercise .button {
      width: 100%;
      margin-right: 0 !important;
      margin-bottom: 0.5rem;
    }

    .exercise .button:last-child {
      margin-bottom: 0;
    }
  }
</style>

<script>
  import { initVocabImgExercise } from '../../../assets/scripts/vocabImgExercise.js'
  document.addEventListener('astro:page-load', initVocabImgExercise)
</script>
