---
import DefaultLayout from '../../../layouts/DefaultLayout.astro'
import { Media, Breadcrumbs, BreadcrumbsItem, Notification } from 'accessible-astro-components'
import { beginnerScope } from '../../../assets/data/begScope.js'

const weekData = beginnerScope[0] // Change to correct week (zero-indexed)

const { ex1 = `/class-images/beginner/week${weekData.week}-vocab-ex1.webp` } = Astro.props
const { ex2 = `/class-images/beginner/week${weekData.week}-vocab-ex2.webp` } = Astro.props
const { ex3 = `/class-images/beginner/week${weekData.week}-vocab-ex3.webp` } = Astro.props
const { ex4 = `/class-images/beginner/week${weekData.week}-vocab-ex4.webp` } = Astro.props
const { ex5 = `/class-images/beginner/week${weekData.week}-vocab-ex5.webp` } = Astro.props
---

<DefaultLayout title={`Beginner Week ${weekData.week}`}>
  <section class="container">
    <div class="mb-10">
      <Breadcrumbs>
        <BreadcrumbsItem href="/" label="Home" />
        <BreadcrumbsItem href="/beginner" label="Beginner" />
        <BreadcrumbsItem currentPage={true} label={`Week ${weekData.week}`} />
      </Breadcrumbs>
    </div>
    <div class="space-content container">
      <h1>Week {weekData.week}: {weekData.topic}</h1>
      <div>
        <ul>
          <li><b>Grammar:</b> {weekData.grammar.join(', ')}</li>
          <li><b>Vocabulary:</b> {weekData.vocabulary.join(', ')}</li>
        </ul>
      </div>
    </div>
  </section>

  <!-- CLASS CONTENT -->
  <section class="mb-12 mt-32">
    <div class="container">
      <div class="grid grid-cols-1 gap-32 md:grid-cols-2">
        <div class="space-content">
          <h2>Vocabulary Activities</h2>
          <h3>Question 1</h3>
          <article>
            <Media class="rounded-lg" src={ex1} alt="Exercise 1 image" />
            <div class="info-container mt-4" style="display: block;">
              <Notification type="info">
                <p>What's this in English?</p>
              </Notification>
            </div>
            <div class="notification-container mt-4" style="display: none;">
              <Notification type="success">
                <p><strong>Correct!</strong> Well done! 🎉</p>
              </Notification>
              <Notification type="error">
                <p><strong>Oops!</strong> What's this in English?</p>
              </Notification>
            </div>
            <div class="exercise mt-4" data-correct="pencil">
              <button class="button mr-2">pencil</button>
              <button class="button mr-2 mt-2">pencel</button>
              <button class="button mr-2 mt-2">pancel</button>
            </div>
          </article>

          <h3>Question 2</h3>
          <article>
            <Media class="rounded-lg" src={ex2} alt="Exercise 2 image" />

            <div class="info-container mt-4" style="display: block;">
              <Notification type="info">
                <p>What's this in English?</p>
              </Notification>
            </div>
            <div class="notification-container mt-4" style="display: none;">
              <Notification type="success">
                <p><strong>Correct!</strong> Well done! 🎉</p>
              </Notification>
              <Notification type="error">
                <p><strong>Oops!</strong> What's this in English?</p>
              </Notification>
            </div>
            <div class="exercise mt-4" data-correct="computer">
              <button class="button mr-2">computor</button>
              <button class="button mr-2 mt-2">conputer</button>
              <button class="button mr-2 mt-2">computer</button>
            </div>
          </article>

          <h3>Question 3</h3>
          <article>
            <Media class="rounded-lg" src={ex3} alt="Exercise 3 image" />

            <div class="info-container mt-4" style="display: block;">
              <Notification type="info">
                <p>What's this in English?</p>
              </Notification>
            </div>
            <div class="notification-container mt-4" style="display: none;">
              <Notification type="success">
                <p><strong>Correct!</strong> Well done! 🎉</p>
              </Notification>
              <Notification type="error">
                <p><strong>Oops!</strong> What's this in English?</p>
              </Notification>
            </div>
            <div class="exercise mt-4" data-correct="classroom">
              <button class="button mr-2">klasroom</button>
              <button class="button mr-2 mt-2">classroom</button>
              <button class="button mr-2 mt-2">clasroom</button>
            </div>
          </article>

          <h3>Question 4</h3>
          <article>
            <Media class="rounded-lg" src={ex4} alt="Exercise 4 image" />

            <div class="info-container mt-4" style="display: block;">
              <Notification type="info">
                <p>What's this in English?</p>
              </Notification>
            </div>
            <div class="notification-container mt-4" style="display: none;">
              <Notification type="success">
                <p><strong>Correct!</strong> Well done! 🎉</p>
              </Notification>
              <Notification type="error">
                <p><strong>Oops!</strong> What's this in English?</p>
              </Notification>
            </div>
            <div class="exercise mt-4" data-correct="bag">
              <button class="button mr-2">bak</button>
              <button class="button mr-2 mt-2">bad</button>
              <button class="button mr-2 mt-2">bag</button>
            </div>
          </article>

          <h3>Question 5</h3>
          <article>
            <Media class="rounded-lg" src={ex5} alt="Exercise 5 image" />

            <div class="info-container mt-4" style="display: block;">
              <Notification type="info">
                <p>What's this in English?</p>
              </Notification>
            </div>
            <div class="notification-container mt-4" style="display: none;">
              <Notification type="success">
                <p><strong>Correct!</strong> Well done! 🎉</p>
              </Notification>
              <Notification type="error">
                <p><strong>Oops!</strong> What's this in English?</p>
              </Notification>
            </div>
            <div class="exercise mt-4" data-correct="notebook">
              <button class="button mr-2">notbok</button>
              <button class="button mr-2 mt-2">notbook</button>
              <button class="button mr-2 mt-2">notebook</button>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
</DefaultLayout>

<style>
  @media (max-width: 640px) {
    .exercise {
      display: flex;
      flex-direction: column;
    }

    .exercise .button {
      width: 100%;
      margin-right: 0 !important;
      margin-bottom: 0.5rem;
    }

    .exercise .button:last-child {
      margin-bottom: 0;
    }
  }
</style>

<script>
  import { initVocabImgExercise } from '../../../assets/scripts/vocabImgExercise.js'
  document.addEventListener('astro:page-load', initVocabImgExercise)
</script>
