---
import DefaultLayout from '../../../layouts/DefaultLayout.astro'
import { Media, Breadcrumbs, BreadcrumbsItem, Notification } from 'accessible-astro-components'
import { beginnerScope } from '../../../assets/data/begScope.js'

import Feature from '../../../components/Feature.astro'


const weekData = beginnerScope[5] // Change to correct week (zero-indexed)

// VOCAB
const { voc1 = `/class-images/beginner/week${weekData.week}-vocab-ex1.webp` } = Astro.props
const { voc2 = `/class-images/beginner/week${weekData.week}-vocab-ex2.webp` } = Astro.props
const { voc3 = `/class-images/beginner/week${weekData.week}-vocab-ex3.webp` } = Astro.props
const { voc4 = `/class-images/beginner/week${weekData.week}-vocab-ex4.webp` } = Astro.props
const { voc5 = `/class-images/beginner/week${weekData.week}-vocab-ex5.webp` } = Astro.props
const { voc6 = `/class-images/beginner/week${weekData.week}-vocab-ex6.webp` } = Astro.props
const { voc7 = `/class-images/beginner/week${weekData.week}-vocab-ex7.webp` } = Astro.props
const { voc8 = `/class-images/beginner/week${weekData.week}-vocab-ex8.webp` } = Astro.props
const { voc9 = `/class-images/beginner/week${weekData.week}-vocab-ex9.webp` } = Astro.props
const { voc10 = `/class-images/beginner/week${weekData.week}-vocab-ex10.webp` } = Astro.props

// LISTENING
const { lis1 = `/class-audio/beginner/week${weekData.week}-lis1.mp3` } = Astro.props
const { lis2 = `/class-audio/beginner/week${weekData.week}-lis2.mp3` } = Astro.props

---

<DefaultLayout title={`Beginner Week ${weekData.week}`}>
  <section class="container">
    <div class="mb-10">
      <Breadcrumbs>
        <BreadcrumbsItem href="/" label="Home" />
        <BreadcrumbsItem href="/beginner" label="Beginner" />
        <BreadcrumbsItem currentPage={true} label={`Week ${weekData.week}`} />
      </Breadcrumbs>
    </div>
    <div class="space-content container">
      <h1>Week {weekData.week}: {weekData.topic}</h1>
      <div>
        <ul>
          <li><b>Grammar:</b> {weekData.grammar.join(', ')}</li>
          <li><b>Vocabulary:</b> {weekData.vocabulary.join(', ')}</li>
        </ul>
      </div>
    </div>
  </section>

  <!-- CLASS CONTENT -->
  <section class="mb-12 mt-32">
    <div class="container">
      <div class="grid grid-cols-1 gap-32 md:grid-cols-2">
        <div class="space-content">
          <h2>Vocabulary Activities</h2>
          <h3>Question 1</h3>
          <article>
            <Media class="rounded-lg" src={voc1} alt="Exercise 1 image" />
            <div class="info-container mt-4" style="display: block;">
              <Notification type="info">
                <p>This sport is ...</p>
              </Notification>
            </div>
            <div class="notification-container mt-4" style="display: none;">
              <Notification type="success">
                <p><strong>Correct!</strong> Well done! 🎉</p>
              </Notification>
              <Notification type="error">
                <p><strong>Oops!</strong> This sport is ...</p>
              </Notification>
            </div>
            <div class="exercise mt-4" data-correct="running">
              <button class="button mr-2">tennis</button>
              <button class="button mr-2 mt-2">swimming</button>
              <button class="button mr-2 mt-2">running</button>
            </div>
          </article>

          <h3>Question 2</h3>
          <article>
            <Media class="rounded-lg" src={voc2} alt="Exercise 2 image" />

            <div class="info-container mt-4" style="display: block;">
              <Notification type="info">
                <p>This sport is ...</p>
              </Notification>
            </div>
            <div class="notification-container mt-4" style="display: none;">
              <Notification type="success">
                <p><strong>Correct!</strong> Well done! 🎉</p>
              </Notification>
              <Notification type="error">
                <p><strong>Oops!</strong> This sport is ...</p>
              </Notification>
            </div>
            <div class="exercise mt-4" data-correct="swimming">
              <button class="button mr-2">running</button>
              <button class="button mr-2 mt-2">swimming</button>
              <button class="button mr-2 mt-2">water</button>
            </div>
          </article>

          <h3>Question 3</h3>
          <article>
            <Media class="rounded-lg" src={voc3} alt="Exercise 3 image" />

            <div class="info-container mt-4" style="display: block;">
              <Notification type="info">
                <p>This sport is ...</p>
              </Notification>
            </div>
            <div class="notification-container mt-4" style="display: none;">
              <Notification type="success">
                <p><strong>Correct!</strong> Well done! 🎉</p>
              </Notification>
              <Notification type="error">
                <p><strong>Oops!</strong> This sport is ...</p>
              </Notification>
            </div>
            <div class="exercise mt-4" data-correct="cycling">
              <button class="button mr-2">bike</button>
              <button class="button mr-2 mt-2">tennis</button>
              <button class="button mr-2 mt-2">cycling</button>
            </div>
          </article>

          <h3>Question 4</h3>
          <article>
            <Media class="rounded-lg" src={voc4} alt="Exercise 4 image" />

            <div class="info-container mt-4" style="display: block;">
              <Notification type="info">
                <p>This sport is ...</p>
              </Notification>
            </div>
            <div class="notification-container mt-4" style="display: none;">
              <Notification type="success">
                <p><strong>Correct!</strong> Well done! 🎉</p>
              </Notification>
              <Notification type="error">
                <p><strong>Oops!</strong> This sport is ...</p>
              </Notification>
            </div>
            <div class="exercise mt-4" data-correct="tennis">
              <button class="button mr-2">tennis</button>
              <button class="button mr-2 mt-2">ball</button>
              <button class="button mr-2 mt-2">racket</button>
            </div>
          </article>

          <h3>Question 5</h3>
          <article>
            <Media class="rounded-lg" src={voc5} alt="Exercise 5 image" />

            <div class="info-container mt-4" style="display: block;">
              <Notification type="info">
                <p>This sport is ...</p>
              </Notification>
            </div>
            <div class="notification-container mt-4" style="display: none;">
              <Notification type="success">
                <p><strong>Correct!</strong> Well done! 🎉</p>
              </Notification>
              <Notification type="error">
                <p><strong>Oops!</strong> This sport is ...</p>
              </Notification>
            </div>
            <div class="exercise mt-4" data-correct="basketball">
              <button class="button mr-2">ball</button>
              <button class="button mr-2 mt-2">basketball</button>
              <button class="button mr-2 mt-2">cycling</button>
            </div>
          </article>

          <h3>Question 6</h3>
          <article>
            <Media class="rounded-lg" src={voc6} alt="Exercise 5 image" />

            <div class="info-container mt-4" style="display: block;">
              <Notification type="info">
                <p>This is ...</p>
              </Notification>
            </div>
            <div class="notification-container mt-4" style="display: none;">
              <Notification type="success">
                <p><strong>Correct!</strong> Well done! 🎉</p>
              </Notification>
              <Notification type="error">
                <p><strong>Oops!</strong> This is ...</p>
              </Notification>
            </div>
            <div class="exercise mt-4" data-correct="bread">
              <button class="button mr-2">sandwich</button>
              <button class="button mr-2 mt-2">bread</button>
              <button class="button mr-2 mt-2">bred</button>
            </div>
          </article>

          <h3>Question 7</h3>
          <article>
            <Media class="rounded-lg" src={voc7} alt="Exercise 5 image" />

            <div class="info-container mt-4" style="display: block;">
              <Notification type="info">
                <p>This is ...</p>
              </Notification>
            </div>
            <div class="notification-container mt-4" style="display: none;">
              <Notification type="success">
                <p><strong>Correct!</strong> Well done! 🎉</p>
              </Notification>
              <Notification type="error">
                <p><strong>Oops!</strong> This is ...</p>
              </Notification>
            </div>
            <div class="exercise mt-4" data-correct="cheese">
              <button class="button mr-2">ches</button>
              <button class="button mr-2 mt-2">cheez</button>
              <button class="button mr-2 mt-2">cheese</button>
            </div>
          </article>

          <h3>Question 8</h3>
          <article>
            <Media class="rounded-lg" src={voc8} alt="Exercise 5 image" />

            <div class="info-container mt-4" style="display: block;">
              <Notification type="info">
                <p>These are ...</p>
              </Notification>
            </div>
            <div class="notification-container mt-4" style="display: none;">
              <Notification type="success">
                <p><strong>Correct!</strong> Well done! 🎉</p>
              </Notification>
              <Notification type="error">
                <p><strong>Oops!</strong> These are ...</p>
              </Notification>
            </div>
            <div class="exercise mt-4" data-correct="eggs">
              <button class="button mr-2">egg</button>
              <button class="button mr-2 mt-2">eggs</button>
              <button class="button mr-2 mt-2">egs</button>
            </div>
          </article>

          <h3>Question 9</h3>
          <article>
            <Media class="rounded-lg" src={voc9} alt="Exercise 5 image" />

            <div class="info-container mt-4" style="display: block;">
              <Notification type="info">
                <p>This is ...</p>
              </Notification>
            </div>
            <div class="notification-container mt-4" style="display: none;">
              <Notification type="success">
                <p><strong>Correct!</strong> Well done! 🎉</p>
              </Notification>
              <Notification type="error">
                <p><strong>Oops!</strong> This is ...</p>
              </Notification>
            </div>
            <div class="exercise mt-4" data-correct="rice">
              <button class="button mr-2">bowl</button>
              <button class="button mr-2 mt-2">rice</button>
              <button class="button mr-2 mt-2">potato</button>
            </div>
          </article>

          <h3>Question 10</h3>
          <article>
            <Media class="rounded-lg" src={voc10} alt="Exercise 5 image" />

            <div class="info-container mt-4" style="display: block;">
              <Notification type="info">
                <p>This is a ...</p>
              </Notification>
            </div>
            <div class="notification-container mt-4" style="display: none;">
              <Notification type="success">
                <p><strong>Correct!</strong> Well done! 🎉</p>
              </Notification>
              <Notification type="error">
                <p><strong>Oops!</strong> This is a ...</p>
              </Notification>
            </div>
            <div class="exercise mt-4" data-correct="tomato">
              <button class="button mr-2">red</button>
              <button class="button mr-2 mt-2">apple</button>
              <button class="button mr-2 mt-2">tomato</button>
            </div>
          </article>
        </div>
        <div class="space-content">
          <h2>Speaking Activities</h2>
             <Feature icon="ion:chatbubble-ellipses" title="Let's talk!" url=`/beginner/week${weekData.week}/speaking`>
              <span class="italic">Ask you classmates!</span>
            </Feature>
        </div>
        <div class="space-content">
          <h2>Listening Activities</h2>
          <h3>Sports</h3>
          <figure>
            <audio controls src={lis1}></audio>
            <a href="/media/cc0-audio/t-rex-roar.mp3"> Download audio </a>
          </figure>
          <h4>Questions</h4>
          <article>
            <div class="info-container mt-4" style="display: block;">
              <Notification type="info">
                <p>_____ is a sport at the Olympic games.</p>
              </Notification>
            </div>
            <div class="notification-container mt-4" style="display: none;">
              <Notification type="success">
                <p><strong>Correct!</strong> Running is a sport at the Olympic games. 🎉</p>
              </Notification>
              <Notification type="error">
                <p><strong>Oops!</strong> _____ is a sport at the Olympic games.</p>
              </Notification>
            </div>
            <div class="exercise mt-4" data-correct="Running">
              <button class="button mr-2">Basketball</button>
              <button class="button mr-2 mt-2">Swimming</button>
              <button class="button mr-2 mt-2">Cycling</button>
              <button class="button mr-2 mt-2">Running</button>
              <button class="button mr-2 mt-2">Tennis</button>
            </div>
          </article>
          <article>
            <div class="info-container mt-4" style="display: block;">
              <Notification type="info">
                <p>_____ is a sport in water.</p>
              </Notification>
            </div>
            <div class="notification-container mt-4" style="display: none;">
              <Notification type="success">
                <p><strong>Correct!</strong> Swimming is a sport in water. 🎉</p>
              </Notification>
              <Notification type="error">
                <p><strong>Oops!</strong> _____ is a sport in water.</p>
              </Notification>
            </div>
            <div class="exercise mt-4" data-correct="Swimming">
              <button class="button mr-2">Basketball</button>
              <button class="button mr-2 mt-2">Swimming</button>
              <button class="button mr-2 mt-2">Cycling</button>
              <button class="button mr-2 mt-2">Running</button>
              <button class="button mr-2 mt-2">Tennis</button>
            </div>
          </article>
          <article>
            <div class="info-container mt-4" style="display: block;">
              <Notification type="info">
                <p>_____ is a sport with bikes.</p>
              </Notification>
            </div>
            <div class="notification-container mt-4" style="display: none;">
              <Notification type="success">
                <p><strong>Correct!</strong> Cycling is a sport with bikes. 🎉</p>
              </Notification>
              <Notification type="error">
                <p><strong>Oops!</strong> _____ is a sport with bikes.</p>
              </Notification>
            </div>
            <div class="exercise mt-4" data-correct="Cycling">
              <button class="button mr-2">Basketball</button>
              <button class="button mr-2 mt-2">Swimming</button>
              <button class="button mr-2 mt-2">Cycling</button>
              <button class="button mr-2 mt-2">Running</button>
              <button class="button mr-2 mt-2">Tennis</button>
            </div>
          </article>
          <article>
            <div class="info-container mt-4" style="display: block;">
              <Notification type="info">
                <p>_____ is a sport with a ball for two or four people.</p>
              </Notification>
            </div>
            <div class="notification-container mt-4" style="display: none;">
              <Notification type="success">
                <p><strong>Correct!</strong> Tennis is a sport with a ball for two or four people. 🎉</p>
              </Notification>
              <Notification type="error">
                <p><strong>Oops!</strong> _____ is a sport with a ball for two or four people.</p>
              </Notification>
            </div>
            <div class="exercise mt-4" data-correct="Tennis">
              <button class="button mr-2">Basketball</button>
              <button class="button mr-2 mt-2">Swimming</button>
              <button class="button mr-2 mt-2">Cycling</button>
              <button class="button mr-2 mt-2">Running</button>
              <button class="button mr-2 mt-2">Tennis</button>
            </div>
          </article>
          <article>
            <div class="info-container mt-4" style="display: block;">
              <Notification type="info">
                <p>_____ is a sport with a ball for two teams.</p>
              </Notification>
            </div>
            <div class="notification-container mt-4" style="display: none;">
              <Notification type="success">
                <p><strong>Correct!</strong> Basketball is a sport with a ball for two teams. 🎉</p>
              </Notification>
              <Notification type="error">
                <p><strong>Oops!</strong> _____ is a sport with a ball for two teams.</p>
              </Notification>
            </div>
            <div class="exercise mt-4" data-correct="Basketball">
              <button class="button mr-2">Basketball</button>
              <button class="button mr-2 mt-2">Swimming</button>
              <button class="button mr-2 mt-2">Cycling</button>
              <button class="button mr-2 mt-2">Running</button>
              <button class="button mr-2 mt-2">Tennis</button>
            </div>
          </article>
          <h4>Transcript</h4>
          <article>
            <div>
              <span class="font-bold">1. </span>
              Running is a sport in the Olympic games.
            </div>
            <div>
              <span class="font-bold">2. </span>
              Swimming is a sport in water.
            </div>
            <div>
              <span class="font-bold">3. </span>
              Cycling is a sport with bikes.
            </div>
            <div>
              <span class="font-bold">4. </span>
              Tennis is a sport with a ball for two or four people.
            </div>
            <div>
              <span class="font-bold">5. </span>
              Basketball is a sport with a ball for two teams.
            </div>
          </article>

          <h3>My Sport</h3>
          <figure>
            <audio controls src={lis2}></audio>
            <a href="/media/cc0-audio/t-rex-roar.mp3"> Download audio </a>
          </figure>
          <h4>Transcript</h4>
          <article>
            <div>
              Hi, my name's Laura Todberry. My sport is the triathlon. Swimming, cycling and running in one day. It's swimming for about one kilometre, then cycling for 14 kilometres, then running for 10 kilometres. I like swimming and cycling, but I don't like running. It's very hard. My best time for the triathlon is 3 hours and 5 minutes. It's not bad, but it's not very good. The best Olympic time for women is 1 hour and 56 minutes.
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
</DefaultLayout>

<style>
  @media (max-width: 640px) {
    .exercise {
      display: flex;
      flex-direction: column;
    }

    .exercise .button {
      width: 100%;
      margin-right: 0 !important;
      margin-bottom: 0.5rem;
    }

    .exercise .button:last-child {
      margin-bottom: 0;
    }
  }
</style>

<script>
  import { initVocabImgExercise } from '../../../assets/scripts/vocabImgExercise.js'
  document.addEventListener('astro:page-load', initVocabImgExercise)
</script>
