---
import Nav from "../../../../components/Nav.astro";
import Head from "../../../../components/Head.astro";
import Footer from "../../../../components/Footer.astro";
import Divider from "../../../../components/Divider.astro";

const week = 9;
const topic = "holidays";

const title = `Pre-Intermediate week ${week} class materials - JESS.FOO`;
const description = `ELICOS CEFR A2 Pre-Intermediate class materials for ${topic}.`;

const grammars = [
  {
    title: "Past perfect",
    activity: 1,
    summary: "Do you know how to use phrases like, 'They'd finished the project by March' or 'Had you finished work when I called?'",
    link: "https://learnenglish.britishcouncil.org/grammar/b1-b2-grammar/past-perfect",
  },
  {
    title: "Past Perfect Exercise",
    activity: 2,
    summary: "This past perfect exercise practises making the question ('yes / no' and 'wh') forms.",
    link: "https://www.perfect-english-grammar.com/past-perfect-exercise-2.html",
  },
];
const readings = [
  {
    title: "An airport notice (A2)",
    activity: 1,
    summary:
      "Read a notice at the airport and answer the questions to practise reading important information.",
    link: "https://learnenglish.britishcouncil.org/skills/reading/a2-reading/airport-notice",
  },
  {
    title: "A travel guide (B1)",
    activity: 2,
    summary:
      "Read a travel guide about Bangkok to practise and improve your reading skills.",
    link: "https://learnenglish.britishcouncil.org/skills/reading/b1-reading/travel-guide",
  },
];
const listenings = [
  {
    title: "Transport announcements (A2)",
    activity: 1,
    summary:
      "Listen to some transport announcements to practise and improve your listening skills.",
    link: "https://learnenglish.britishcouncil.org/skills/listening/a2-listening/transport-announcements",
  },
  {
    title: "A weather forecast (B1)",
    activity: 2,
    summary:
      "Listen to a weather forecast and answer the questions to practise and improve your listening skills.",
    link: "https://learnenglish.britishcouncil.org/skills/listening/b1-listening/weather-forecast",
  },
];
const speakings = [
  {
    title: "50 conversation questions (A2)",
    activity: 1,
    summary: `Use any of these 50 questions to have a conversation about ${topic}.`,
    link: `/class/a2/week${week}/speaking`,
  },
];
const writings = [
  {
    title: "My last holiday (A2)",
    activity: 1,
    summary: "Learn how to write about your last holiday.",
    link: "https://learnenglish.britishcouncil.org/skills/writing/a2-writing/my-last-holiday",
  },
  {
    title: "An email to explain an accommodation problem (B1)",
    activity: 2,
    summary: "Learn how to write an email to explain a problem with your accommodation.",
    link: "https://learnenglish.britishcouncil.org/skills/writing/b1-writing/email-explain-accommodation-problem",
  },
];
const vocabs = [
  {
    title: "Holidays",
    activity: 1,
    summary: "Vocabulary exercises to help learn words for talking about holidays.",
    link: "https://learnenglish.britishcouncil.org/vocabulary/a1-a2-vocabulary/holidays",
  },
  {
    title: "Hotels",
    activity: 2,
    summary: "What's the word for a bed for two people? Learn this and other words to talk about staying in a hotel with these exercises.",
    link: "https://learnenglish.britishcouncil.org/vocabulary/a1-a2-vocabulary/hotels",
  },
];
---

<html lang="en">
  <head>
    <Head title={title} description={description} />
  </head>
  <body class="bg-white dark:bg-slate-800">
    <Nav />
    <div class="bg-white dark:bg-slate-800 pt-24 sm:pt-32">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:mx-0">
          <h1
            class="font-bold tracking-tight text-slate-900 dark:text-slate-100 text-5xl"
          >
            Week {week}
          </h1>
          <p class="mt-6 text-lg leading-8 text-slate-600 dark:text-slate-300">
            This week we're learning about {topic}.
          </p>
        </div>

        <!-- GRAMMAR -->
        <div class="mx-auto mt-20 max-w-2xl lg:mt-24 lg:max-w-none">
          <h2
            class="pb-10 font-bold tracking-tight text-slate-900 dark:text-slate-100 text-3xl"
          >
            Grammar activities
          </h2>
          <dl
            class="grid max-w-xl grid-cols-1 lg:gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-3"
          >
            {
              grammars.map((grammar) => (
                <a
                  href={grammar.link}
                  class="text-sm font-semibold leading-6 text-teal-600"
                >
                  <div class="flex flex-col bg-teal-50 dark:bg-slate-700 p-5">
                    <dt class="text-base font-bold leading-7 text-slate-900 dark:text-slate-100">
                      Grammar {grammar.activity}: {grammar.title}
                    </dt>
                    <dd class="mt-1 flex flex-auto flex-col text-base font-normal leading-7 text-slate-600 dark:text-slate-300">
                      <p class="flex-auto">{grammar.summary}</p>
                      <p class="mt-6 font-semibold text-teal-600 dark:text-teal-300">
                        Begin grammar activity {grammar.activity}{" "}
                        <span aria-hidden="true">→</span>
                      </p>
                    </dd>
                  </div>
                </a>
              ))
            }
          </dl>
        </div>

        <Divider />

        <!-- READING -->
        <div class="mx-auto max-w-2xl lg:mt-24 lg:max-w-none">
          <h2
            class="pb-10 font-bold tracking-tight text-slate-900 dark:text-slate-100 text-3xl"
          >
            Reading activities
          </h2>
          <dl
            class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-3"
          >
            {
              readings.map((reading) => (
                <a
                  href={reading.link}
                  class="text-sm font-semibold leading-6 text-teal-600"
                >
                  <div class="flex flex-col bg-fuchsia-50 dark:bg-slate-700 p-5">
                    <dt class="text-base font-bold leading-7 text-slate-900 dark:text-slate-100">
                      Reading {reading.activity}: {reading.title}
                    </dt>
                    <dd class="mt-1 flex flex-auto flex-col text-base font-normal leading-7 text-slate-600 dark:text-slate-300">
                      <p class="flex-auto">{reading.summary}</p>
                      <p class="mt-6 font-semibold text-teal-600 dark:text-teal-300">
                        Begin reading activity {reading.activity}{" "}
                        <span aria-hidden="true">→</span>
                      </p>
                    </dd>
                  </div>
                </a>
              ))
            }
          </dl>
        </div>

        <Divider />

        <!-- LISTENING -->
        <div class="mx-auto max-w-2xl lg:mt-24 lg:max-w-none">
          <h2
            class="pb-10 font-bold tracking-tight text-slate-900 dark:text-slate-100 text-3xl"
          >
            Listening activities
          </h2>
          <dl
            class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-3"
          >
            {
              listenings.map((listening) => (
                <a
                  href={listening.link}
                  class="text-sm font-semibold leading-6 text-teal-600"
                >
                  <div class="flex flex-col bg-blue-50 dark:bg-slate-700 p-5">
                    <dt class="text-base font-bold leading-7 text-slate-900 dark:text-slate-100">
                      Listening {listening.activity}: {listening.title}
                    </dt>
                    <dd class="mt-1 flex flex-auto flex-col text-base font-normal leading-7 text-slate-600 dark:text-slate-300">
                      <p class="flex-auto">{listening.summary}</p>
                      <p class="mt-6 font-semibold text-teal-600 dark:text-teal-300">
                        Begin listening activity {listening.activity}{" "}
                        <span aria-hidden="true">→</span>
                      </p>
                    </dd>
                  </div>
                </a>
              ))
            }
          </dl>
        </div>

        <Divider />

        <!-- SPEAKING -->
        <div class="mx-auto max-w-2xl lg:mt-24 lg:max-w-none">
          <h2
            class="pb-10 font-bold tracking-tight text-slate-900 dark:text-slate-100 text-3xl"
          >
            Speaking activities
          </h2>
          <dl
            class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-3"
          >
            {
              speakings.map((speaking) => (
                <a
                  href={speaking.link}
                  class="text-sm font-semibold leading-6 text-teal-600"
                >
                  <div class="flex flex-col bg-blue-50 dark:bg-slate-700 p-5">
                    <dt class="text-base font-bold leading-7 text-slate-900 dark:text-slate-100">
                      Speaking {speaking.activity}: {speaking.title}
                    </dt>
                    <dd class="mt-1 flex flex-auto flex-col text-base font-normal leading-7 text-slate-600 dark:text-slate-300">
                      <p class="flex-auto">{speaking.summary}</p>
                      <p class="mt-6 font-semibold text-teal-600 dark:text-teal-300">
                        Begin speaking activity {speaking.activity}{" "}
                        <span aria-hidden="true">→</span>
                      </p>
                    </dd>
                  </div>
                </a>
              ))
            }
          </dl>
        </div>

        <Divider />

        <!-- WRITING -->
        <div class="mx-auto max-w-2xl lg:mt-24 lg:max-w-none">
          <h2
            class="pb-10 font-bold tracking-tight text-slate-900 dark:text-slate-100 text-3xl"
          >
            Writing activities
          </h2>
          <dl
            class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-3"
          >
            {
              writings.map((writing) => (
                <a
                  href={writing.link}
                  class="text-sm font-semibold leading-6 text-teal-600"
                >
                  <div class="flex flex-col bg-yellow-50 dark:bg-slate-700 p-5">
                    <dt class="text-base font-bold leading-7 text-slate-900 dark:text-slate-100">
                      Writing {writing.activity}: {writing.title}
                    </dt>
                    <dd class="mt-1 flex flex-auto flex-col text-base font-normal leading-7 text-slate-600 dark:text-slate-300">
                      <p class="flex-auto">{writing.summary}</p>
                      <p class="mt-6 font-semibold text-teal-600 dark:text-teal-300">
                        Begin writing activity {writing.activity}{" "}
                        <span aria-hidden="true">→</span>
                      </p>
                    </dd>
                  </div>
                </a>
              ))
            }
          </dl>
        </div>
        
        <Divider />

        <!-- VOCAB -->
        <div class="mx-auto max-w-2xl lg:mt-24 lg:max-w-none">
          <h2
            class="pb-10 font-bold tracking-tight text-slate-900 dark:text-slate-100 text-3xl"
          >
            Vocabulary activities
          </h2>
          <dl
            class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-3"
          >
            {
              vocabs.map((vocab) => (
                <a
                  href={vocab.link}
                  class="text-sm font-semibold leading-6 text-teal-600"
                >
                  <div class="flex flex-col bg-yellow-50 dark:bg-slate-700 p-5">
                    <dt class="text-base font-bold leading-7 text-slate-900 dark:text-slate-100">
                      Vocab {vocab.activity}: {vocab.title}
                    </dt>
                    <dd class="mt-1 flex flex-auto flex-col text-base font-normal leading-7 text-slate-600 dark:text-slate-300">
                      <p class="flex-auto">{vocab.summary}</p>
                      <p class="mt-6 font-semibold text-teal-600 dark:text-teal-300">
                        Begin vocab activity {vocab.activity}{" "}
                        <span aria-hidden="true">→</span>
                      </p>
                    </dd>
                  </div>
                </a>
              ))
            }
          </dl>
        </div>

        <Footer />
      </div>
    </div>
  </body>
</html>
